/***********************************/
/* OVERVIEW
/***********************************/

/* COLORS */
/**********/
/* We should all use the same colors for our visualizations */

/*
 * --- PRIMARY
 * #FF5252
 * rgba(255, 82, 82, 1)
 *
 * --- SECONDARY
 * #009688
 * rgba(0, 150, 136, 1)
 *
 * --- TERTIARY
 * #59CD90
 * rgba(89, 205, 144, 1)
 */

/***********************************/
/* SPECIFIC VISUALIZATION  STYLES
/***********************************/

/* HEATMAP */
.heatmap .axis-x {
    text-anchor: middle;
}

.heatmap .axis-y {
    text-anchor: end;
}

.heatmap text {
    alignment-baseline: central;
    font-size: 10px;
    line-height: 1;
}

.heatmap text.active {
    font-weight: bold;
}

.heatmap .card .percentile {
    opacity: 0;
    font-weight: bold;
    pointer-events: none;
    transition: all 0.4s ease-in-out;
    user-select: none;
}
.heatmap .block:hover {
    fill: #FF5252 !important;
}
.heatmap .active .percentile,
.heatmap .block:hover + .percentile {
    opacity: 1;
    font-size: 10px;
}

.heatmap .block {
    cursor: pointer;
    transition: fill 1s ease;
}

.heatmap .subcategory .block,
.heatmap .legend .subcategory {
    fill: #59CD90;
}

.heatmap .category .block,
.heatmap .legend .category {
    fill: #009688;
}

.heatmap .legend .percentile {
    font-weight: bold;
    pointer-events: none;
    user-select: none;
}

.heatmap .legend .maintitle {
    text-anchor: start;
}

.heatmap .legend .title {
    text-anchor: end;
}

.heatmap .subcategory .block{
    transition: opacity 2s ease-in-out;
}

.heatmap .active .block {
    fill: #FF5252;
}

.heatmap .percentile {
    alignment-baseline: central;
    text-anchor: middle;
}


.cust-info span {
  font-weight: 500;
    font-size: 40px;
    color: black;
    width: 100%;
    line-height: 1;
    display: block;
    text-align: center;
    margin-bottom: 16px;
}

#info-2 .cust-info .success {
    color: #59CD90;
}

#info-2 .cust-info .fail {
    color: #FF5252;
}

#info-2 .mdl-card__supporting-text.success {
    color: white;
    background-color: #59CD90;
}

#info-2 .mdl-card__supporting-text.fail {
    color: white;
    background-color: #FF5252;
}


/***********************************/
/* TEMPLATE STYLES
/***********************************/

.mdl-card {
    width: 100%;
    margin-bottom: 20px;
    min-height: 100px;
}

.mdl-layout__drawer {
    display: none;
}

/* Heading */
.cust-nav {
    position: fixed;
    height: 115px;
    z-index: 2;
}

.cust-nav .mdl-layout__tab-bar {
    background-color: #ececec;
}

.cust-nav .mdl-layout__drawer-button {
    display: none;
}

.cust-nav .mdl-layout__content {
    display: none; /* Hide this */
}

.cust-nav .mdl-layout__header-row {
    padding: 0 16px;
}

.cust-nav .mdl-button {
    margin: 8px;
}

.cust-nav .mdl-textfield__label {
    color: #fff;
}

.cust-nav .is-dirty .mdl-textfield__label {
    color: #ececec;
}

.cust-nav .mdl-textfield__input {
    border-color: #fff;
}

.cust-nav .mdl-textfield__label:after {
    background-color: #ff5252;
}

.cust-nav .mdl-layout__tab-bar-button {
    display: none;
}

.cust-nav .mdl-layout__tab-bar {
    padding: 0 16px;
    width: 100%;
}

/* Tabs */
.cust-tab,
.mdl-layout.is-upgraded .mdl-layout__tab.is-active.cust-tab.is-active {
    color: #000;
}

/* Content */
.cust-content {
    padding: 120px 0 480px;
}

/* Aside bar */
.cust-aside.fixed {
    position: fixed;
    top: 120px;
    right: 4px;
}

/* Overview cards in aside*/
.cust-overview {
    width: 100%;
    min-height: 135px;
    background: #ececec;
}

.cust-card {
    transition: opacity 1s ease-in;
}

.cust-card.active {
    opacity: 1;
}

.cust-overview h2 {
    padding: 8px 16px;
}

.cust-aside .mdl-card {
    max-height: calc((100% - 200px) / 4)
}

.cust-aside strong {
    font-weight: bold;
    text-transform: capitalize;
}
.cust-info {
    padding: 16px;
    color: rgba(0,0,0,.54);
    font-size: 1rem;
    line-height: 18px;
}

.cust-info ul {
    line-height: 18px;
    list-style: disc;
    padding-left: 16px;
}

.cust-info ul li {
    margin-bottom: 0.5rem;
}

/* Visualization wrappers */
.cust-viz {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #ececec;
    padding: 16px 8px;
}

.cust-overview .success-score,
.cust-overview .pop {
    font-weight: 500;
    font-size: 40px;
    padding: 8px 16px;
}

/* Map Styles */
.viz-1 {
  padding: 0;
}

/* Bubble Chart Styles */
.viz-2 .selection,
.viz-2 .handle--e,
.viz-2 .handle--w {
  display: none;
}

.viz-2 .bubLegend > div div {
  width: 24px;
  height: 24px;
}

.viz-2 .bubLegend > div div::after {
  content: attr(data-category);
  display: inline-block;
  margin-left: 30px;
  line-height: 24px;
  width: 250px;
}

.viz-2 .bubLegend .legendLeft,
.viz-2 .bubLegend .legendRight {
  height: 100px;
  display: inline-block;
  width: 100px;
  clear: both;
}

.viz-2 circle, .other {
  fill: #1abc9c;
}

.viz-2 a {
  cursor: pointer;
}

.viz-2 .axis {
  fill: rgb(255,82,82);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.viz-2 .axis .halo {
  stroke: rgb(255,82,82);
  stroke-width: 5px;
}

.viz-2 .slider .handles path {
  stroke: rgb(0,150,136);
  stroke-width: 15px;
  pointer-events: none;
}

.viz-2 .slider .handles text {
  fill: rgb(0,150,136);
  text-align: center;
  font-size: 12px;
}

.viz-2 .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.viz-2 .tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius:5px;
  border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
  opacity: .9;
  color: black;
  padding: 10px;
  width: 300px;
  font-size: 12px;
  z-index: 10;
}

.viz-2 .tooltip .title {
  font-size: 13px;
}

.viz-2 .tooltip .name {
  font-weight:bold;
}

/* Trend Graph */
.viz-4 .axis--y path {
  display: none;
}

.viz-4 .cities {
  fill: none;
  stroke: #aaa;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5px;
}

.viz-4 .city--hover {
  stroke: #000;
}

.viz-4 .focus text {
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.viz-4 .voronoi path {
  fill: none;
  pointer-events: all;
}

.viz-4 .voronoi--show path {
  stroke: red;
  stroke-opacity: 0.2;
}