/***********************************/
/* OVERVIEW
/***********************************/

/* COLORS */
/**********/
/* We should all use the same colors for our visualizations */

/*
 * --- PRIMARY
 * #FF5252
 * rgba(255, 82, 82, 1)
 *
 * --- SECONDARY
 * #009688
 * rgba(0, 150, 136, 1)
 *
 * --- TERTIARY
 * #59CD90
 * rgba(89, 205, 144, 1)
 */

/***********************************/
/* SPECIFIC VISUALIZATION  STYLES
/***********************************/

/* HEATMAP */
.heatmap .axis-x {
    text-anchor: middle;
}

.heatmap .axis-y {
    text-anchor: end;
}

.heatmap text {
    alignment-baseline: central;
    font-size: 10px;
    line-height: 1;
}

.heatmap text.active {
    font-weight: bold;
}

.heatmap .card .percentile {
    opacity: 0;
    font-weight: bold;
    pointer-events: none;
    transition: all 0.4s ease-in-out;
}
.heatmap .block:hover {
    fill: #FF5252 !important;
}
.heatmap .active .percentile,
.heatmap .block:hover + .percentile {
    opacity: 1;
    font-size: 10px;
}

.heatmap .block {
    cursor: pointer;
    fill: #59CD90;
    transition: fill 1s ease;
}

.heatmap .category .block {
    fill: #009688;
}

.heatmap .subcategory .block{
    transition: opacity 2s ease-in-out;
}

.heatmap .active .block {
    fill: #FF5252;
}

.heatmap .percentile {
    alignment-baseline: central;
    text-anchor: middle;
}

/***********************************/
/* TEMPLATE STYLES
/***********************************/

.mdl-card {
    width: 100%;
    margin-bottom: 20px;
    min-height: 100px;
}

.mdl-layout__drawer {
    display: none;
}

/* Heading */
.cust-nav {
    position: fixed;
    height: 115px;
    z-index: 2;
}

.cust-nav .mdl-layout__tab-bar {
    background-color: #ececec;
}

.cust-nav .mdl-layout__drawer-button {
    display: none;
}

.cust-nav .mdl-layout__content {
    display: none; /* Hide this */
}

.cust-nav .mdl-layout__header-row {
    padding: 0 16px;
}

.cust-nav .mdl-button {
    margin: 8px;
}

.cust-nav .mdl-textfield__label {
    color: #fff;
}

.cust-nav .is-dirty .mdl-textfield__label {
    color: #ececec;
}

.cust-nav .mdl-textfield__input {
    border-color: #fff;
}

.cust-nav .mdl-textfield__label:after {
    background-color: #ff5252;
}

.cust-nav .mdl-layout__tab-bar-button {
    display: none;
}

.cust-nav .mdl-layout__tab-bar {
    padding: 0 16px;
    width: 100%;
}

/* Tabs */
.cust-tab,
.mdl-layout.is-upgraded .mdl-layout__tab.is-active.cust-tab.is-active {
    color: #000;
}

/* Content */
.cust-content {
    padding: 120px 0 480px;
}

/* Aside bar */
.cust-aside {
    position: fixed;
    top: 120px;
    right: 4px;
}

/* Overview cards in aside*/
.cust-overview {
    width: 100%;
    height: 135px;
    background: #ececec
}

.cust-overview h2 {
    padding: 8px 16px;
}

.cust-aside .mdl-card {
    max-height: calc((100% - 200px) / 4)
}

/* Visualization wrappers */
.cust-viz {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #ececec;
    padding: 16px 8px;
}
